.sunCon {
  position: absolute;
  top: 70px;
  left: 350px;
  z-index: 1000;
}

.sun {
  /* border-radius: 50%; */
  opacity: 0.9;
}

.ray_box {
  display: flex !important;
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  -webkit-animation: ray_anim 5s linear infinite;
  animation: ray_anim 5s linear infinite;
}

.ray {
  background: -webkit-linear-gradient(top, rgb(97, 97, 97) 0%, rgb(255, 252, 98) 70%, rgb(97, 97, 97) 100%);
  /* background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 222, 76, 0.8) 50%, rgba(255, 255, 255, 0) 100%); */
  margin-left: 10px;
  /* border-radius: 80% 80% 0 0; */
  position: absolute;
  opacity: 0.1;
}

.ray1 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(180deg);
  top: -179px;
  left: 12px;
}

.ray2 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(230deg);
  top: -152px;
  left: 100px;
}

.ray3 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(251deg);
  top: -112px;
  left: 107px;
}

.ray4 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(271deg);
  top: -80px;
  left: 122px;
}

.ray5 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(-20deg);
  top: 20px;
  left: 48px;
}

.ray6 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(30deg);
  top: 10px;
  left: -35px;
}

.ray7 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(70deg);
  top: -40px;
  left: -80px;
}

.ray8 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(100deg);
  top: -95px;
  left: -90px;
}

.ray9 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(131deg);
  top: -146px;
  left: -58px;
}

.ray10 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(152deg);
  top: -170px;
  left: -25px;
}

.ray11 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(190deg);
  top: -170px;
  left: 40px;
}

.ray12 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(0deg);
  top: 10px;
  left: 10px;
}

.ray13 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(50deg);
  top: -7px;
  left: -70px;
}

.ray14 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(90deg);
  top: -77px;
  left: -90px;
}

.ray15 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(111deg);
  top: -117px;
  left: -85px;
}

.ray16 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(140deg);
  top: -160px;
  left: -45px;
}

.ray17 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(25deg);
  top: -171px;
  left: 57px;
}

.ray18 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(296deg);
  top: -34px;
  left: 112px;
}

.ray19 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(320deg);
  top: -4px;
  left: 78px;
}

.ray20 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(60deg);
  top: -130px;
  left: 95px;
}

.ray21 {
  height: 200px;
  width: 10px;
  -webkit-transform: rotate(96deg);
  top: -68px;
  left: 105px;
}

@-webkit-keyframes ray_anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sunshineContainer {
  position: absolute !important;
  top: -70px;
  left: -70px;
}

.imgContainer {
  position: absolute;
  width: 400px;
  height: auto;
  transform: translate(-150px, -200px);
  z-index: 100;
}

.rainbowImg {
  width: 400px;
  height: 400px;
}